<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{template "title"}}</title>
  <meta name="description" content="HBL Imports USA">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div id=header>
 <h1>HBL Trading (USA) Inc
 </h1>
</div>
 <a href="./contact">Contact Us</a>
<div id=content>

{{template "content"}}
</div>
<div id=footer>
    Copyright 2014 HBL TRADING. All rights reserved.
</div>
</body>
</html>
