{{define "title"}}
Foo
{{end}}
{{define "content"}}
<table style="width:100%">
{{range $Images := .}}
  <tr>
    <td>.Number</td>
    <td>.Number</td>
    <td>.Price</td>
    <td>.Case</td>
    <td>.Pack</td>
    <td>94</td>
  </tr>
{{end}}
</table>
{{end}}
