{{template "header"}}
{{define "title"}}
Mousetraps
{{end}}
<table style="width:74%">
<th>
<td>Item no.</td>
<td>Price</td>
<td>Number per case</td>
<td>Number per pack</td>
</th>
{{range .}}
  <tr>
    <td>{{.Item}}</td>
    <td>{{.Price}}</td>
    <td>{{.Case}}</td>
    <td>{{.Pack}}</td>
    <td><img src={{.Path}} height="100" width="100"></td>
  </tr>
{{end}}
</table>

{{template "footer"}}


