{{template "header"}}
{{define "title"}}
Mousetraps
{{end}}
<div id="content">
<ul>
{{range .}}
  <li>
    <div id="list-item">
      <div><img src={{.Path}} height="100" width="100"></div>
      <span>{{.Price}}</span>
      <span>{{.Case}}</span>
      <span>{{.Pack}}</span>
      <span>{{.Item}}</span>
      <span>{{.Name}}</span>
    <div>
   </li>
{{end}}
</ul>
</div>
{{template "footer"}}


