{{template "header"}}
{{define "title"}}
Contact
{{end}}

<div id="content">
9041 Dice Road.#13, Santa Fe Springs, CA, USA
<br>
<b>Phone</b> (866)-HBL-IMPORTS
<br>
<b>Fax</b> (562) 906-2109
<br>
<b>Email</b> sales@hblimports.com
</div>
{{template "footer"}}
